/* Extensão .module.css para que o css fique totalmente atrelado ao componente Header 
e não interfira em outros elementos
Ao trabalhar com CSS Modules, utiliza-se preferencialmente classes ao invés de outros 
tipos de seletores */

.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}
